/*-- scss:defaults --*/
$primary: #000000 !default;
$link-color: #ffffff !default;
$body-color: #000000 !default;
$navbar-hl: #ffffff !default;

/*-- scss:rules --*/
#title-block-header.quarto-title-block.default .quarto-title .title {
  font-family: "Oleo Script", "Libre Baskerville", $headings-font-family;
  font-size: $font-size-base * 2.5;
}
