body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    font-family: sans-serif;
}

#page-title{
    font-family: Arial;
    text-align: center;
}
.title{
    font-size: 15px;
}

#main-nav{
    margin-top: 10px;
    list-style: none;
    list-style-type: none;
    padding-left: 0px;
    text-align-last: center;
    background-color: black;
}

#main-nav li{
    display: inline-block;
    list-style: none;
    color: white;
}

#main-nav ul li{
    color: white;
}

#main-nav a{
    padding: 5px 15px ;
    font-size: 20px;
    color: white;
    list-style: none;
    display:block;
    text-decoration: none;
}

#main-nav a:hover{
	opacity: 0.7;
    background-color: gray;
    color: black;
}


hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:black;
  height: 1px;
  padding: 0px;
  margin: 0px;
}

/* Aca esta los párametros para las cajas*/
.title_box {
  border: blue 1px solid;
}

.title_box #title {
  position: relative;
  top: -0.5em;
  margin-left: 1em;
  display: inline;
  background-color: black;
  color: white;
}

.title_box #content {}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color:black;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid black;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

/*Aca estan los parámetros para el footer*/
footer{
    padding: 0;
    margin-top: auto;
    text-align: center;
    background-color: black;
}

.socials{
    list-style: none;
} 

.socials li{
    display: inline-block;
}

.social li:hover{
	color: blue;
}

.socials a{
    padding: 10px 20px ;
    font-size: 30px;
    color: white;
}
