/* css styles */

.my_button {
  padding:0.6em 1em;
  border-radius: 8px;
  color:#fff;
  background-color:#000;
  font-size:0.7em;
  border:0;
  cursor:pointer;
  margin-top:0em;
  margin-bottom: 1em;
}

#hero-heading{
  padding: 0px;
  text-align: justify;
  display: table-cell;
  vertical-align: middle;
}