/*-- scss:defaults --*/

// Fonts;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Colors
$principal: #000000;
$secundario: #ffffff;
$gris: #CCCCCC;
// momentaneo
$azul_uchile: #003087;

// Base document colors
$primary: $principal !default;
$body-bg: $secundario; // page background 
$body-color: $principal !default; // page text 
$navbar-hl: $secundario !default;
$navbar-bg: $principal; // navbar
$navbar-fg: $secundario; // navbar foreground elements
$navbar-hl: $secundario; // highlight color when hovering over navbar links
$link-color: $azul_uchile !default; // hyperlinks 
$footer-bg: $principal; // footer 

/*-- scss:rules --*/
#title-block-header.quarto-title-block.default .quarto-title .title {
  font-family: "Oleo Script", "Libre Baskerville", $headings-font-family;
  font-size: $font-size-base * 2.5;
}
